@keyframes scale-form {
    0%{
        transform: scale(.85);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes blink-background{
    0%{
        background-color: rgba(var(--white-rgb), .12);
    }

    100%{
        background-color: rgba(var(--white-rgb), .24);
    }
}

.brige{
    width: 100%;
    height: 100%;
}

.brige.brige--hide{
    display: none;
}

.brige .brige__floor{
    --width-floor: 200px;
    background-image: url(../assets/images/bridge-grass.jpeg);
}

.brige .brige__floor.brige__floor--right{
    width: var(--width-floor);
    right: 0;
}

.brige .brige__floor.brige__floor--left{
    width: var(--width-floor);
    left: 0;
}

.brige .brige__floor.brige__floor--complete{
    left: var(--width-floor);
    right: var(--width-floor);
    width: auto;
    padding: var(--space);
    background-image: none;
    border: var(--border-width) dashed var(--white);
    animation: blink-background alternate infinite var(--time-transition);
}

.brige .brige__floor.brige__floor--way{
    --height-floor-way: calc(var(--floor-height) / 2);

    height: var(--height-floor-way);
    bottom: var(--height-floor-way);
    border: 0;
    animation: none;
    background-color: transparent;
    background-image: url(../assets/images/bridge-square.png);
    background-repeat: repeat;
    background-size: contain;
}

.brige .brige__forms{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.brige .brige__forms.brige__forms--hide{
    display: none;
}

.brige .brige__form{
    --form-size: 150px;

    margin: calc(var(--space) * 3);
    width: var(--form-size);
    height: var(--form-size);
    z-index: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: transform var(--transition-button);
    animation: var(--time-transition) scale-form infinite alternate;
}

.brige .brige__form:hover, .brige .brige__form:active{
    transform: scale(1.15);
    animation: none;
}

.brige .brige__form.brige__form--triangle{
    background-image: url(../assets/images/bridge-triangle.png);
}

.brige .brige__form.brige__form--circle{
    background-image: url(../assets/images/bridge-circle.png);
}

.brige .brige__form.brige__form--square{
    background-image: url(../assets/images/bridge-square.png);
}
