.button{
    background-color: var(--yellow);
    border-radius: var(--radius);
    border: none;
    font-size: 46px;
    padding: var(--space) calc(var(--space) * 2);
    font-weight: 600;
    cursor: pointer;
    transition: opacity var(--speed-transition), box-shadow var(--speed-transition);
    color: var(--black);
    display: flex;
    align-items: center;
    column-gap: var(--space);
    width: fit-content;
}

.button:hover{
    opacity: .95;
    box-shadow: 0 0 8px 0 var(--yellow);
}

.button:active{
    opacity: .85;
    box-shadow: 0 0 12px 0 var(--yellow);
}

.button.button--white{
    background-color: var(--white);
}

.button.button--white:hover{
    opacity: .95;
    box-shadow: 0 0 8px 0 var(--white);
}

.button.button--white:active{
    opacity: .85;
    box-shadow: 0 0 12px 0 var(--white);
}

.button .button__icon{
    --button-icon-size: 46px;

    width: var(--button-icon-size);
    height: var(--button-icon-size);
}
