.cutscene{
    padding: calc(var(--space) * 4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cutscene.cutscene--show{
    opacity: 1;
}

.cutscene.cutscene--none{
    display: none;
}

.cutscene::after{
    background-color: rgb(var(--black-rgb), .56);
}

.cutscene .cutscene__image, .cutscene .cutscene__text, .cutscene .cutscene__loading, .cutscene .cutscene__title, .cutscene .cutscene__texts{
    z-index: 1;
}

.cutscene .cutscene__text{
    font-size: 32px;
    color: var(--white);
}

.cutscene .cutscene__loading{
    color: var(--blue);
    font-size: 44px;
}

.cutscene .cutscene__title{
    color: var(--yellow);
    font-size: 36px;
}

.cutscene .cutscene__image{
    width: 50%;
}

.cutscene .cutscene__content{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--space);
    max-width: 800px;
    margin: 0 auto;
}

.cutscene .cutscene__texts{
    display: flex;
    flex-direction: column;
    row-gap: var(--half-space);
}
