.enemy{
    background-image: url(../assets/images/sprite-enemy.png);
    background-size: 1400%;
    right: 0;
}

.enemy::after{
    content: "";
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 10px;
    border-radius: var(--radius);
    top: -24px;
    position: relative;
    border: var(--border);
    border-color: var(--black);
}

.enemy.enemy--100::after{
    background: linear-gradient(to right, var(--red) 100%, var(--light-grey) 0%);
}

.enemy.enemy--50::after{
    background: linear-gradient(to right, var(--red) 50%, var(--light-grey) 50%);
}

.enemy.enemy--0::after{
    background-color: var(--light-grey);
}

.enemy.enemy--up{
    z-index: 1;
}
