.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: calc(var(--space) * 2);
    z-index: 2;
}

.home.home--show{
    opacity: 1;
}

.home.home--none{
    display: none;
}

.home::after{
    background-color: rgb(var(--black-rgb), .72);
}

.home .home__title, .home .home__button{
    z-index: 3;
}

.home .home__title{
    max-width: 1000px;
    text-align: center;
}
