.life{
    --life-bar-items: 5;
    --life-bar-width: calc(var(--height-bars) * var(--life-bar-items));
    --life-shadow-color: rgba(var(--white-rgb), .56);

    display: flex;
    flex-direction: column;
    position: absolute;
    left: var(--half-space);
    top: var(--half-space);
}

.life .life__bar{
    display: grid;
    height: 40px;
    grid-template-columns: repeat(5, 1fr);
    border: var(--border);
    border-color: var(--black);
    border-radius: var(--radius);
    border-right: 0;
}

.life .life__item{
    width: var(--height-bars);
    background-color: var(--light-grey);
    border-right: var(--border);
    border-color: var(--black);
    transition: background-color var(--time-transition);
}

.life .life__item.life__item--active{
    background-color: var(--red);
}

.life .life__label{
    text-shadow: 0 0 8px var(--life-shadow-color);
}

.life .life__bar{
    box-shadow: 0 0 4px 0 var(--life-shadow-color);
}
