:root, html, body{
    background-color: var(--black);
    font-family: var(--font-text);
    font-size: var(--space);
    color: var(--black);
}

.game{
    margin: 0 auto;
    background-color: var(--white);
    position: revert;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
}

@media screen and (orientation: portrait) {
    .game {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
