:root, html, body{
    background-color: var(--black);
    font-family: var(--font-text);
    font-size: var(--space);
    color: var(--black);
    overflow: hidden;
}

.game{
    margin: 0 auto;
    background-color: var(--white);
    position: relative;
    width: var(--width);
    min-width: var(--width);
    max-width: var(--width);
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game.game--init::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: var(--black);
}

.floor{
    width: 100%;
    height: var(--floor-height);
    position: absolute;
    bottom: 0;
}

.window{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity var(--transition-show-window);
    background-color: var(--black);
    position: absolute;
    top: 0;
    z-index: 1;
}

.window::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
