.title{
    text-shadow: 4px 4px var(--black);
    text-decoration: underline;
    color: var(--white);
    font-family: var(--font-text);
    font-size: 64px;
    hyphens: auto;
    text-transform: uppercase;
}
