:root{
    --font-text: 'Skranji', cursive;
    --width: 100vw;
    --height: 100vh;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --blue: #304ffe;
    --red: #d50000;
    --red-rgb: 213, 0, 0;
    --light-grey: #e0e0e0;
    --grey: #bdbdbd;
    --green: #00e676;
    --yellow: #ffeb3b;
    --space: 16px;
    --half-space: calc(var(--space) / 2);
    --border-width: 4px;
    --border: var(--border-width) solid var(--light-grey);
    --radius: 2px;
    --time-transition: 1s;
    --speed-transition: .25s;
    --height-bars: 40px;
    --transition-show-window: 250ms;
    --floor-height: 100px;
}
